<section class="container a ">
  <form class="formulario" (ngSubmit)="transferir()">
    <h2 class="formulario__titulo">Nova Transferencia</h2>

    <div class="form-field">
      <label class="form-field__label" for="valor">Valor</label>
      <input class="form-field__input" id="valor" name="valor" type="text" [(ngModel)]="valor" />
    </div>

    <div class="form-field">
      <label class="form-field__label" for="destino">Destino</label>
      <input class="form-field__input" id="destino" name="destino" type="text" [(ngModel)]="destino" />
    </div>

    <div class="boton-wrapper">
      <button class="botao">Transferir</button>
    </div>
  </form>
</section>